*{
    margin: 0;
    padding: 0;
}

.Criteria1,.Criteria2,.Criteria3,.Criteria4,.Criteria5,.Criteria6,.Criteria7{
    height: auto;
    display: none;
}
thead{
    font-size: 1.3rem;
    font-weight: 700;
}
tbody{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
tbody :nth-child(2){
    
}

.btn{
    font-size: 18px;
    font-weight: 500;
}